# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.docx
.DS_Store
*.vbak
*.lck
*.bak_000f
*.bak_004d
analysis/PRJ2_Flight_Tickets.vpp.bak_005d
analysis/PRJ2_Flight_Tickets.vpp.bak_014d
analysis/PRJ2_Flight_Tickets.vpp.bak_013d
analysis/PRJ2_Flight_Tickets.vpp.bak_012d
analysis/PRJ2_Flight_Tickets.vpp.bak_011d
analysis/PRJ2_Flight_Tickets.vpp.bak_009d
analysis/PRJ2_Flight_Tickets.vpp.bak_007d
analysis/PRJ2_Flight_Tickets.vpp.bak_006d
analysis/PRJ2_Flight_Tickets.vpp.bak_008d
analysis/PRJ2_Flight_Tickets.vpp.bak_010d
analysis/PRJ2_Flight_Tickets.vpp.bak_001d
analysis/PRJ2_Flight_Tickets.vpp.bak_002d
analysis/PRJ2_Flight_Tickets.vpp.bak_003d
analysis/PRJ2_Flight_Tickets.vpp.bak_015d
analysis/PRJ2_Flight_Tickets.vpp.bak_016d
analysis/PRJ2_Flight_Tickets.vpp.bak_017d
analysis/PRJ2_Flight_Tickets.vpp.bak_018d
analysis/PRJ2_Flight_Tickets.vpp.bak_019d
analysis/PRJ2_Flight_Tickets.vpp.bak_020d
analysis/PRJ2_Flight_Tickets.vpp.bak_021d
analysis/PRJ2_Flight_Tickets.vpp.bak_022d
analysis/PRJ2_Flight_Tickets.vpp.bak_023d
analysis/PRJ2_Flight_Tickets.vpp.bak_024d
analysis/PRJ2_Flight_Tickets.vpp.bak_025d
analysis/PRJ2_Flight_Tickets.vpp.bak_026d
analysis/PRJ2_Flight_Tickets.vpp.bak_027d
analysis/PRJ2_Flight_Tickets.vpp.bak_028d
analysis/PRJ2_Flight_Tickets.vpp.bak_029d
analysis/PRJ2_Flight_Tickets.vpp.bak_030d
analysis/PRJ2_Flight_Tickets.vpp.bak_031f
analysis/PRJ2_Flight_Tickets.vpp.bak_032d
analysis/PRJ2_Flight_Tickets.vpp.bak_033d
analysis/PRJ2_Flight_Tickets.vpp.bak_034d
analysis/PRJ2_Flight_Tickets.vpp.bak_035d
analysis/PRJ2_Flight_Tickets.vpp.bak_036d
analysis/PRJ2_Flight_Tickets.vpp.bak_003d
analysis/PRJ2_Flight_Tickets.vpp.bak_001d
analysis/PRJ2_Flight_Tickets.vpp.bak_002d
*.bak
*.bak_002d
